{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="jumbotron">
  <h2>Our Mission</h2>
  <p>The solution we propose for electing representatives  is to build Web based Application which can be accessed with ease
In this application we will store the information of students/faculty  and details of the candidates
During voting time user should login in web portal either using the unique id we provided or by his mobile number
We also provide admin portal where admin can modify the voting counter time and can delete/modify user details
First the user must register in the application
Once the user has registered successfully ,user can login in user portal
For admin there will be a separate portal where he can initiate the voting process by providing a counter time
Once the voting process has initiated  user can login by providing his mobile number,login details and can give vote to the candidate of his interest
After the voting counter time is completed, results are displayed to all the user in the form of patterns

</P>
{% endblock %}
