{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-xs-center" style="background-image: linear-gradient( #5FBDBF, #abd4d6);">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="http://127.0.0.1:8000/" role="button">HomePage</a>
  </p>
</div>

{% endblock %}
